<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <if condition='property("spring.profiles.active").contains("dev")'>
        <then>
            <!-- for dev use classic spring configuration -->
            <include resource="org/springframework/boot/logging/logback/base.xml"/>
        </then>
        <else>
            <!-- use logstash encoder as default -->
            <!-- https://github.com/logstash/logstash-logback-encoder -->
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </else>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>